.buttonForForm {
  all: unset;
  width: 396px;
  height: 45px;
  border-radius: 3px;
  background: #4285f4;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.buttonForForm-question {
  text-align: center;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 16px 0 0;
}
.buttonForForm-link {
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 0 6px;
}
.buttonForForm:disabled {
  background: #7b7b7b;
  opacity: 0.5;
}
.buttonForForm:hover,
.buttonForForm-link:hover {
  opacity: 0.7;
}
.buttonForForm_login {
  margin-top: 159px;
}
.buttonForForm_register {
  margin-top: 71px;
}
@media screen and (max-width: 767px) {
  .buttonForForm {
    width: 260px;
    font-size: 12px;
    font-weight: 500;
  }
  .buttonForForm-question {
    margin: 14px 0 0;
  }
  .buttonForForm-question,
  .buttonForForm-link {
    font-size: 12px;
  }
  .buttonForForm_register {
    margin-top: 160px;
  }
  .buttonForForm_login {
    margin-top: 247px;
  }
}
/* .buttonForForm_disabled {
  color: #000000;
  background: transparent;
  opacity: 0.2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
